.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
#app-title {
  font-family: 'Crete Round', serif;
  font-family: 'Oi', cursive;
  color: #F6E7BB;
  font-size: 40px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  box-shadow: 5px 10px 10px 2px rgba(32, 28, 28, 0.25), 0px 35px 55px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 25px;
}
#quote-box {
  border: solid 2px #000000;
  border-radius: 5px;
  background-color: #F6E7BB;
  width: 50%;
  height: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 10px 10px 2px rgba(32, 28, 28, 0.25), 0px 35px 55px 0px rgba(0, 0, 0, 0.25);

}
#text-author-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#text {
  font-family: 'Crete Round', serif;
  font-size: 15px;
}
#text::before {
  content: open-quote;
  font-family: 'BIZ UDGothic', sans-serif;
  font-size: 45px;
  vertical-align: middle;
}
#text::after {
  content: close-quote;
  font-family: 'BIZ UDGothic', sans-serif;
  font-size: 45px;
  vertical-align: middle;
}
#author {
  align-self: flex-end;
  font-family: 'Crete Round', serif;
  font-size: 15px;
  margin-top: 10px;
}
#btn-box {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#new-quote {
  color: #F6E7BB;
  background: purple;
  font-family: 'Crete Round', serif;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgba(32, 28, 28, 0.25), 0px 1px 5px 1px rgba(0, 0, 0, 0.25);

}
#tweet-quote {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 0px 0px 1px 1px rgba(32, 28, 28, 0.25), 0px 1px 5px 1px rgba(0, 0, 0, 0.25);

}
.twitter-icon {
  color: white;
}