.App {
  text-align: center;
}
#quote-box {
  border: solid 2px red
}
#text {
  border: solid 2px blue
}
#author {
  border: solid 2px green
}
#new-quote {
  color: white;
  background: purple
}
#tweet-quote {
  border: solid 2px orange;
}